<div @list class="list-container">
  <div @items class="box" *ngFor="let task of priorityPendings;">
    <mat-toolbar [class.priorityHigh]="task.priority==='high' && task.deadline==='red'" [class.priorityHighM]="task.priority==='high' && task.deadline==='yellow'" [class.priorityHighL]="task.priority==='high' && task.deadline==='green'"
    [class.priorityNormalH]="task.priority==='medium' && task.deadline==='red'" [class.priorityNormalM]="task.priority==='medium' && task.deadline==='yellow'" [class.priorityNormal]="task.priority==='medium' && task.deadline==='green'"
    [class.priorityLawH]="task.priority==='law' && task.deadline==='red'" [class.priorityLawM]="task.priority==='law' && task.deadline==='yellow'" [class.priorityLaw]="task.priority==='law' && task.deadline==='green'" [class.overdue]="task.priority==='overdue' && task.deadline==='overdue'">
      <mat-list>
        <mat-list-item><span class="font-medium"><b>{{(task.title | slice:0:100 ) + (task.title.length > 100 ? '...' : '')}}</b></span></mat-list-item>
        <mat-list-item><h4>USERNAME&nbsp;&nbsp;</h4><h4>PROJECT&nbsp;&nbsp;</h4><h4>{{(task.description | slice:0:100 ) + (task.title.length > 100 ? '...' : '')}}</h4></mat-list-item>
      </mat-list>
      <span class="fill-remaining-space"></span>
      <mat-list>
        <mat-list-item class="font-large less-margin"><b>{{task.deadlineDate | date: 'dd'}}</b></mat-list-item>
        <mat-list-item class="less-margin"><h2>&nbsp;&nbsp;{{task.deadlineDate | date: 'MMM' | uppercase}}</h2></mat-list-item>
        <mat-list-item class="less-margin">&nbsp;&nbsp;{{task.deadlineTime}}</mat-list-item>
      </mat-list>
    </mat-toolbar>
  </div>
</div>