$color-high-high: #f44336;
$color-high-normal: #FFCC80;
$color-high-law: #FFCC80;
$color-normal-high: #FFCC80;
$color-normal-normal: #FFC107;
$color-normal-law: #FFF59D;
$color-law-high: #FFCC80;
$color-law-normal: #80CBC4;
$color-law-law: #A5D6A7;
$color-overdue:#BCAAA4;

.priorityHigh{
    background-color: $color-high-high;
}

.priorityHighM{
    background-color: $color-high-normal;
}

.priorityHighL{
    background-color: $color-high-law;
}

.priorityNormalH{
    background-color: $color-normal-high;
}

.priorityNormalM{
    background-color: $color-normal-normal;
}

.priorityNormal{
    background-color: $color-normal-law;
}

.priorityLawH{
    background-color: $color-law-high;
}

.priorityLawM{
    background-color: $color-law-normal;
}

.priorityLaw{
    background-color: $color-law-law;
}

.overdue{
    background-color: $color-overdue;
}

.mat-toolbar{
    height: 100px;
    color: white;
}

.font-large{
    font-size: 45px;
}

.font-medium{
    font-size: 30px;
}

.mat-list-item{
    margin: 1px;
    color: white;
}

.marg-right{
    margin-right: 20px;
}

.less-margin{
    margin: -20px;
}
