$color-high-high: #f44336;
$color-high-normal: #FFB74D;
$color-high-law: #FFB74D;
$color-normal-high: #FFB74D;
$color-normal-normal: #FFD54F;
$color-normal-law: #FFF176;
$color-law-high: #FFB74D;
$color-law-normal: #4DD0E1;
$color-law-law: #81C784;
$color-overdue:#A1887F;

.priorityHigh{
    background-color: $color-high-high;
}

.priorityHighM{
    background-color: $color-high-normal;
}

.priorityHighL{
    background-color: $color-high-law;
}

.priorityNormalH{
    background-color: $color-normal-high;
}

.priorityNormalM{
    background-color: $color-normal-normal;
}

.priorityNormal{
    background-color: $color-normal-law;
}

.priorityLawH{
    background-color: $color-law-high;
}

.priorityLawM{
    background-color: $color-law-normal;
}

.priorityLaw{
    background-color: $color-law-law;
}

.overdue{
    background-color: $color-overdue;
}

.mat-toolbar{
    height: 100px;
    color: white;
}

.font-large{
    font-size: 45px;
}

.font-medium{
    font-size: 30px;
}

.mat-list-item{
    margin: 1px;
    color: white;
}

.marg-right{
    margin-right: 20px;
}

.less-margin{
    margin: -20px;
}

.color-proj{
    color: #90A4AE;
}
