.example-card {
    max-width: 400px;
    max-height: 400px;
}

h2{
    color: white;
}

h3{
    color: black;
}

// .top-margin{
//     margin-top: 5px;
// }

.mat-card-content {
    margin-top: -10px;
}

.mat-card{
    margin-top: 1%;
    margin-bottom: 1%;
    height: 150px;
}