<div class="displayTable">
  <div class="displayTableCell">
    
    <div class="authBlock">
      <form (ngSubmit)="signUp(signUpForm.value)" [formGroup]="signUpForm">
        <h3>Sign Up</h3>
        <div class="formGroup">
          <input type="email" class="formControl" name="email" formControlName="email" placeholder="Email" required>
        </div>

        <div class="formGroup">
          <input type="password" name="password" class="formControl" formControlName="password" placeholder="Password" required>
        </div>

        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Sign Up" [disabled]="!signUpForm.valid">
        </div>

        <div class="redirectToLogin">
          <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
        </div>
      </form>
    </div>

  </div>
</div>