<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let task of p1Tasks">
        <mat-toolbar [ngStyle]="priorityStyle(task)"> 
            <mat-list>
              <mat-list-item><span class="font-medium"><b>{{ (task.title | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</b></span></mat-list-item>
              <mat-list-item><h4 class="color-proj"><b>{{ task.project | slice:0:10 }}&nbsp;&nbsp;|</b>&nbsp;&nbsp;</h4><h4>{{ (task.description | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</h4></mat-list-item>
              <!-- <h4>USERNAME&nbsp;&nbsp;</h4> -->
            </mat-list>
            <span class="fill-remaining-space"></span>
            <mat-list>
              <mat-list-item class="font-large less-margin"><b>{{ task.deadlineDate | date: 'dd' }}</b></mat-list-item>
              <mat-list-item class="less-margin"><h2>&nbsp;&nbsp;{{ task.deadlineDate | date: 'MMM' | uppercase }}</h2></mat-list-item>
              <mat-list-item class="less-margin">&nbsp;&nbsp;{{ task.deadlineTime }}</mat-list-item>
            </mat-list>
        </mat-toolbar>
    </ng-template>  
</owl-carousel-o>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let task of p2Tasks">
        <mat-toolbar [ngStyle]="priorityStyle(task)"> 
            <mat-list>
              <mat-list-item><span class="font-medium"><b>{{ (task.title | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</b></span></mat-list-item>
              <mat-list-item><h4 class="color-proj"><b>{{ task.project | slice:0:10 }}&nbsp;&nbsp;|</b>&nbsp;&nbsp;</h4><h4>{{ (task.description | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</h4></mat-list-item>
              <!-- <h4>USERNAME&nbsp;&nbsp;</h4> -->
            </mat-list>
            <span class="fill-remaining-space"></span>
            <mat-list>
              <mat-list-item class="font-large less-margin"><b>{{ task.deadlineDate | date: 'dd' }}</b></mat-list-item>
              <mat-list-item class="less-margin"><h2>&nbsp;&nbsp;{{ task.deadlineDate | date: 'MMM' | uppercase }}</h2></mat-list-item>
              <mat-list-item class="less-margin">&nbsp;&nbsp;{{ task.deadlineTime }}</mat-list-item>
            </mat-list>
        </mat-toolbar>
    </ng-template>  
</owl-carousel-o>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let task of p3Tasks">
        <mat-toolbar [ngStyle]="priorityStyle(task)"> 
            <mat-list>
              <mat-list-item><span class="font-medium"><b>{{ (task.title | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</b></span></mat-list-item>
              <mat-list-item><h4 class="color-proj"><b>{{ task.project | slice:0:10 }}&nbsp;&nbsp;|</b>&nbsp;&nbsp;</h4><h4>{{ (task.description | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</h4></mat-list-item>
              <!-- <h4>USERNAME&nbsp;&nbsp;</h4> -->
            </mat-list>
            <span class="fill-remaining-space"></span>
            <mat-list>
              <mat-list-item class="font-large less-margin"><b>{{ task.deadlineDate | date: 'dd' }}</b></mat-list-item>
              <mat-list-item class="less-margin"><h2>&nbsp;&nbsp;{{ task.deadlineDate | date: 'MMM' | uppercase }}</h2></mat-list-item>
              <mat-list-item class="less-margin">&nbsp;&nbsp;{{ task.deadlineTime }}</mat-list-item>
            </mat-list>
        </mat-toolbar>
    </ng-template>  
</owl-carousel-o>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let task of p4Tasks">
        <mat-toolbar [ngStyle]="priorityStyle(task)"> 
            <mat-list>
              <mat-list-item><span class="font-medium"><b>{{ (task.title | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</b></span></mat-list-item>
              <mat-list-item><h4 class="color-proj"><b>{{ task.project | slice:0:10 }}&nbsp;&nbsp;|</b>&nbsp;&nbsp;</h4><h4>{{ (task.description | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</h4></mat-list-item>
              <!-- <h4>USERNAME&nbsp;&nbsp;</h4> -->
            </mat-list>
            <span class="fill-remaining-space"></span>
            <mat-list>
              <mat-list-item class="font-large less-margin"><b>{{ task.deadlineDate | date: 'dd' }}</b></mat-list-item>
              <mat-list-item class="less-margin"><h2>&nbsp;&nbsp;{{ task.deadlineDate | date: 'MMM' | uppercase }}</h2></mat-list-item>
              <mat-list-item class="less-margin">&nbsp;&nbsp;{{ task.deadlineTime }}</mat-list-item>
            </mat-list>
        </mat-toolbar>
    </ng-template>  
</owl-carousel-o>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let task of p5Tasks">
        <mat-toolbar [ngStyle]="priorityStyle(task)" class="centered-content"> 
            <mat-list>
              <mat-list-item><span class="font-medium"><b>{{ (task.title | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</b></span></mat-list-item>
              <mat-list-item><h4 class="color-proj"><b>{{ task.project | slice:0:10 }}&nbsp;&nbsp;|</b>&nbsp;&nbsp;</h4><h4>{{ (task.description | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</h4></mat-list-item>
              <!-- <h4>USERNAME&nbsp;&nbsp;</h4> -->
            </mat-list>
            <span class="fill-remaining-space"></span>
            <mat-list>
              <mat-list-item class="font-large less-margin"><b>{{ task.deadlineDate | date: 'dd' }}</b></mat-list-item>
              <mat-list-item class="less-margin"><h2>&nbsp;&nbsp;{{ task.deadlineDate | date: 'MMM' | uppercase }}</h2></mat-list-item>
              <mat-list-item class="less-margin">&nbsp;&nbsp;{{ task.deadlineTime }}</mat-list-item>
            </mat-list>
        </mat-toolbar>
    </ng-template>  
</owl-carousel-o>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let task of p6Tasks">
        <mat-toolbar [ngStyle]="priorityStyle(task)" class="centered-content"> 
            <mat-list>
              <mat-list-item><span class="font-medium"><b>{{ (task.title | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</b></span></mat-list-item>
              <mat-list-item><h4 class="color-proj"><b>{{ task.project | slice:0:10 }}&nbsp;&nbsp;|</b>&nbsp;&nbsp;</h4><h4>{{ (task.description | slice:0:100 ) + (task.title.length > 100 ? '...' : '') }}</h4></mat-list-item>
              <!-- <h4>USERNAME&nbsp;&nbsp;</h4> -->
            </mat-list>
            <span class="fill-remaining-space"></span>
            <mat-list>
              <mat-list-item class="font-large less-margin"><b>{{ task.deadlineDate | date: 'dd' }}</b></mat-list-item>
              <mat-list-item class="less-margin"><h2>&nbsp;&nbsp;{{ task.deadlineDate | date: 'MMM' | uppercase }}</h2></mat-list-item>
              <mat-list-item class="less-margin">&nbsp;&nbsp;{{ task.deadlineTime }}</mat-list-item>
            </mat-list>
        </mat-toolbar>
    </ng-template>  
</owl-carousel-o>
