.example-card {
    max-width: 400px;
    max-height: 400px;
}

.high{
    background-color: red;
}

.medium{
    background-color: green;
}

.law{
    background-color: yellow;
}
h2{
    color: black;
}
h3{
    color: black;
}

.mat-toolbar{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: -40px;
}

.right-corner{
    background-color: red;
}

.toolbar-back{
    background-color: bisque;
}