.mat-toolbar{
    height: 100px;
    color: white;
}

.font-large{
    font-size: 45px;
}

.font-medium{
    font-size: 30px;
}

.mat-list-item{
    margin: 1px;
    color: white;
}

.marg-right{
    margin-right: 20px;
}

.less-margin{
    margin: -20px;
}

.color-proj{
    color: #90A4AE;
}
