<div class="swiper-container" *ngFor="let pndngTask of pendingTasks">

    <div class="swiper-slide">
        <mat-toolbar>
          <span>{{pndngTask.title}}</span>
          <span class="fill-remaining-space"></span>
          <span>{{pndngTask.description}}</span>
          <span class="fill-remaining-space"></span>
          <span class="right-corner">{{pndngTask.deadlineDate}}</span>
          <br>
          <span class="right-corner">{{pndngTask.deadlineTime}}</span>
        </mat-toolbar>
    </div>
    <!-- <div class="swiper-slide">{{pndngTask.title}}</div> -->
    <!-- <div class="swiper-slide">slide 2</div>
    <div class="swiper-slide">slide 3</div>
    <div class="swiper-slide">slide 4</div>
    <div class="swiper-slide">slide 5</div>
    <div class="swiper-slide">slide 6</div>
    <div class="swiper-slide">slide 7</div>
    <div class="swiper-slide">slide 8</div>
    <div class="swiper-slide">slide 9</div>
    <div class="swiper-slide">slide 10</div>
    <div class="swiper-slide">slide 11</div>
    <div class="swiper-slide">slide 12</div>
    <div class="swiper-slide">slide 13</div>
    <div class="swiper-slide">slide 14</div>
    <div class="swiper-slide">slide 15</div>
    <div class="swiper-slide">slide 16</div> -->

</div>

